<template>
    <div class="container text-center">
         <router-link to="/login" class="btn btn-primary m-1">login</router-link>
         <router-link to="/register" class="btn btn-primary m-1">Register</router-link>
         <router-link to="/post" class="btn btn-primary m-1">post</router-link>
    </div>
</template>