<template>
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            New Post
        </button>
        <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" v-if="editStatus">Edit Post</h5>
                        <h5 class="modal-title" id="exampleModalLabel" v-else>Create Post</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type="text" v-model="post.title" :class="['form-control m-1',errors.title ? 'is-invalid':'']">
                        <span v-if="errors.title" class="text-danger">{{ errors.title[0] }}</span>
                        <textarea  v-model="post.body" :class="['form-control m-1',errors.title ? 'is-invalid':'']"></textarea>
                        <span v-if="errors.body" class="text-danger">{{ errors.body[0] }}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="UpdatePost" v-if="editStatus">Edit</button>
                        <button type="button" class="btn btn-primary" @click="createPost" v-else>Save Post</button>
                    </div>
                    </div>
                </div>
            </div>
            <div class="alert" v-for="aricle in aricles" :key="aricle.id">
                <h4>{{aricle.title}}</h4>
                <p>{{aricle.body}}</p>
                <button type="button" @click="editPost(aricle)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Edit Post
                </button>
            </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            post:{
                id:'',
                title:'',
                body:''
            },
            editStatus:false,
            aricles:{},
            errors:[],
        }
    },
    methods:{
        createPost(){
            axios.post('api/createPost',this.post).then(response=>{
                if(response.data.status == 'error'){
                    this.errors = response.data.errors
                }else if(response.data.status == 'success'){
                    //this.aricles.push(response.data.data)
                    this.aricles.unshift(response.data.data)
                    Toast.fire({
                        icon: 'success',
                        title: 'Created successfully'
                    })
                    this.post={
                        id:'',
                        title:'',
                        body:''
                    },
                    this.errors = []

                }
            });
        },
        UpdatePost(post){
            axios.post('api/updateData/'+this.post.id,this.post).then(response=>{
                if(response.data.status == 'error'){
                    this.errors = response.data.errors
                }else if(response.data.status == 'success'){
                    Toast.fire({
                        icon: 'success',
                        title: 'Updated successfully'
                    })
                    this.post={
                        id:'',
                        title:'',
                        body:''
                    },
                    this.errors = []

                }
            });
        },
        getPost(){
            axios.get('api/showPost').then(response=>{
                this.aricles = response.data.data
            })
        },
        editPost(post){
            this.post = post;
            this.editStatus = true;
        }
    },
    created(){
        this.getPost()
    }
}
</script>